/* Estilos globales */
body {
  margin: 0;
  font-family: Arial, sans-serif;
}

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

/* Contenedor principal */
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;

}

/* Estilos para ImageComponent */
.image-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 20px;
  text-align: center;
  width: 100%; /* O el ancho que desees para el contenedor */
  justify-content: center; /* Centra horizontalmente */
  align-items: center; /* Centra verticalmente */
  flex: 1; /* Permite que el contenedor ocupe todo el espacio disponible */
  position: relative; /* Permite que los elementos hijos se posicionen en relación con este contenedor */
  margin: 0 auto; /* Centra el contenedor si es más estrecho que la ventana */
  padding: 20px; /* Agrega un poco de espacio interno */
  border-radius: 10px; /* Bordes redondeados para el contenedor */
  overflow: hidden; /* Para ocultar el contenido que excede el contenedor */
}

.image-container img {
  height: auto;
  max-height: 800px;
  border-radius: 10px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  
}

/* Banner contenedor */
.banner-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
  width: 100%;
  max-width: 1200px;
}

/* Imágenes dentro del banner */
.banner-image {
  .banner-image {
    max-height: 100%;
    width: auto;
    height: 50px;
    object-fit: contain; /* Ajusta la imagen para que respete su proporción */
    border-radius: 8px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  }
}

/* Estilos para los encabezados en los componentes */
.image-container h1,
.image-container h2 {
  color: white;
  border-radius: 8px;
  border: 2px solid #2c3e50;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.6);
}

.image-container h1 {
  background-color: #1a5896;
  padding: 10px;
}

.image-container h2 {
  background-color: #44acc3;
  margin: 10px 0;
}

.image-container::before {
  content: ""; /* Necesario para crear un pseudo-elemento */
  position: absolute; /* Posiciona el elemento en relación con el contenedor */
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: url('/ruta/a/tu/imagen_de_fondo.jpg'); /* Cambia esto a la ruta de tu imagen de fondo */
  background-size: cover; /* Asegura que la imagen cubra todo el contenedor */
  background-position: center; /* Centra la imagen */
  opacity: 0.1; /* Opacidad del fondo */
  z-index: 1; /* Coloca el fondo detrás del contenido */
}

.image-background-1::before {
  background-image: url('/public/images/fondo-ciudad.jpg');
}

.image-background-2::before {
  background-image: url('/public/images/fondo-consultorio.PNG'); 
}

.image-background-3::before {
  background-image: url('/public/images/fondo-estacion.jpg');
}
